/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
}
/* navgration bar  */
header{
  display: flex;
  align-items: center;
  flex-direction: column;
}
nav .logo{
  padding-left: 50px;
  color: #ED6B4F;
  font-size: 30px;
}

nav{
  width: 1000px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #0000ff;
  margin-bottom: 40px;
  align-items: center;
  padding-right: 20px;
  text-transform: uppercase;
  border-radius: 5px;
}
.navbar a:hover{
  color: #bbff00;
}
.navbar a{
  text-decoration: none;
  padding-right: 10px;
  color: white;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column ;
}

/* top players */

.top-player {
  margin-bottom: 30px;
}

.section-title {
  color: #0000ff;
  font-size: 24px;
  margin-top: 3px;
}
.container {
  background-color: #ffffff;
  width: 870px;
  padding: 30px;
  margin-bottom: 21px;
  border-radius: 5px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
  align-items: center;
}
.player-name {
  margin-left: 16px;
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 25px;
}

/* top blogs */
.blog-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.blog {
  display: flex;
  align-items: center;
}
.blog-image img{
    width: 177px;
    height: 117px;
}
.blog-title{
  font-weight: 500;
  font-size: 20px;
  margin-left: 15px;
  
}
.blog-title p{
  color: #9F9F9F;
  font-size: 16px;
}
.blog-title a{
  text-decoration: none;
  color: #562EFF;
}

/* ----------------
  latest courses style 
  -------------------*/
  
.courses{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.course{
  height: 270;
  width: 252px;
  border: 1px solid #f8f1f1;
  border-radius: 10px;
  box-shadow: 5px 5px 3px #f8f2f2;
  padding-left: 25px;
  padding-top: 10px;
}

.thumbal img{
  width: 224px;
  height: 104px;
}
.course-title{
  font-weight: 500;
  font-size: 20.0336px;
}
.course-detail .author{
  color: #ED6B4F;
  font-size: 14.6913px;

}
.course-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filled{
  color: #FFC014;
}
.empty{
  color: #AEAEAE;
  opacity: 0.25;
}
